.normal{
  background: #e5545422 10%;
display: flex;
width: 1920px;
height: 850px;
margin: 100px;
justify-content: space-between;
align-items: center;

}
.first{
  padding:200px;
  width: 708px;
  height: 506px;
  text-align: center;
  
}
.img{
/* width: 603px; */
/* height: 800px; */
}
.btn-primary{
  background: #e55454;
  color: aliceblue;
  border:0;
  font-size:20px ;
  font-weight: 700;
  border-radius: 5px;
}
.second{
  padding: 230px 933px 162px 395px;
  text-align: center;
  width: 594px;
  height: 228px;
}
.img2{
  width: 318px;
  height: 420px;
}
#img{
  text-align: center;
}
.third{
  text-align: center;
  /* width: 594px; */
  height: 132px;
}
ul{
  display: flex;
  
}
ul li{
  margin-right: 24px;
  width: 342px;
  height: 396px;
  list-style: none;

  
}
.section-2{
  text-align: center;
  width: 1140px;
  height: 449px;
  margin: 600px;
  background-image: url('/Rectangle 9.png');
  background-size: contain;
  background-repeat: no-repeat;
  
}
.last{
  width: 1922px;
  height: 449;
  text-align: center;
  margin: 100px;
  background-color: black;
}
*{
  /* margin: 0px; */
}
.uuu{
  padding:210px 649px 179px 648px ;
}
#header {
  font-size: 80px;
  font-weight: bolder;
}
.header-2{
  font-size: 40px;
}
.paragraph{
  font-size: 18px;
}
.head-3{
  text-align: center;
  font-size: 40px;
}
.img-4{
  display: flex;
  
}